/*font*/
body{
  font-family: 'VT323', monospace ;
  font-size: 150%;
}

#question, #option0, #option1, #option2, #option3, #option4{
  font-family: 'VT323', monospace ;
  font-size: 100%;
}

#startbutton{
  display: none;
}

#button{
  width: 100px;
  height: 50px;
  background: black;
  color: white;
  cursor: pointer;
}

#car1, #car2, #car3{
  display: block;
  margin: 40px;
}

#upstruck{
  display: block;
}

#upsvroom{
  display: none;
}

#car1:hover #upstruck{
  display: none;
}

#car1:hover #upsvroom{
  display: block;
}

#schoolbus{
  display: block;
}

#schoolvroom{
  display: none;
}

#car2:hover #schoolbus{
  display: none;
}

#car2:hover #schoolvroom{
  display: block;
}

#lastrental{
  display: block;
}

#lastvroom{
  display: none;
}

#car3:hover #lastrental{
  display: none;
}

#car3:hover #lastvroom{
  display: block;
}

#questions{
  display: none;
}

#gametagspace{
  display: inline;
}

#playernamespace{
  display: inline;
}

#insertgame{
  display: block;
  background-color: #000000;
}

#car{
  display: none;
}